<!-- wrapper -->
    <div id="wrapper">
      

      <!-- 	PAGE HEADER -->

      
      <section
        class="page-header page-header-md parallax parallax-3" style="background-image:url(<%= asset_path  'tube_glass_elevator'%>)"
      >
        <div class="overlay dark-5"></div>

        <div class="container">
          <h1><strong>COMMERCIAL AND CORPORATE SERVICES</strong></h1>
        </div>
      </section>
      <!-- /PAGE HEADER -->

      <section class="b-0" style="background-color:#fbfbfb; padding-top: 60px">
        <!-- Commercial services -->
        <div class="container">
          <h3>
            You're planning the construction of a suburbs shopping mall, a
            downtown office tower or a mixed-use building? We have everything
            you need, as long as it's elevators! From heavy-duty freight
            elevators to luxurious passenger car for your high-rise.
          </h3>
          <div class="row">
            <div class="col-md-4">
              <div class="heading-title heading-border-bottom heading-color">
                <h3>Efficiency</h3>
              </div>

              <p>
                We promise to give you the best result for the ressources you
                invest in our elevators solutions.
              </p>
            </div>

            <div class="col-md-4">
              <div class="heading-title heading-border-bottom heading-color">
                <h3>Flexibility</h3>
              </div>
              <p>
                You can count on our specialists for a personalized experience.
                We take into account every variables.
              </p>
            </div>

            <div class="col-md-4">
              <div class="heading-title heading-border-bottom heading-color">
                <h3>Maintenance</h3>
              </div>
              <p>
                We offer 24/7 emergency repair services. We also have a
                scheduled maintenance program.
              </p>
            </div>
          </div>
        </div>

        <!-- /Commercial services -->

        <!-- 3 Buttons -->

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a class="btn btn-danger btn-lg" href="quote.html"
                >GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>

            <div class="col-md-4">
              <a class="btn btn-danger btn-lg" href="index.html#contact"
                >CONTACT US &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>

            <div class="col-md-4">
              <a class="btn btn-danger btn-lg" href="residential.html"
                >RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- /3 Buttons -->
      </section>

      <!-- FOOTER -->
    </div>

    <!-- /wrapper -->

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- PRELOADER -->
    <div id="preloader">
      <div class="inner">
        <span class="loader"></span>
      </div>
    </div>
    <!-- /PRELOADER -->