
    <div id="wrapper">
      

      <!-- PAGE HEADER 	-->
      <section
        class="parallax parallax-1"
        style="background-image:url(<%= asset_path 'clear_elevator'%>)"
      >
        <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

        <div class="container">
          <div class="text-center">
            <p style="font-size:6em; margin-bottom: 5px ">Intervention received!</p>
            
            
            <a class="btn btn-default btn-lg" href="/" style= "margin:5px">BACK HOME ? </a>
            
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <footer id="footer">
        <div class="container">
          <div class="row">
            <!-- col #1 -->
            <div class="col-md-8">
              <h3 class="letter-spacing-1">WHY US?</h3>

              <!-- Small Description -->
              <p>
                We can offer you the best services for residential, commercial
                and corporate projects of any size.
              </p>
              <p>
                <span class="block"
                  ><i class="fa fa-envelope"></i> Email:
                  <a href="mailto:info@codeboxx.biz"
                    >info@codeboxx.biz
                  </a></span
                >
                <span class="block"
                  ><i class="fa fa-phone"></i> Phone: (418) 580-7055</span
                >
              </p>
            </div>
            <!-- /col #1 -->
          </div>
        </div>

        <div class="copyright">
          <div class="container">
            <ul class="float-right m-0 list-inline mobile-block">
              <li>Terms &amp; Conditions</li>
              <li>&bull;</li>
              <li>Privacy</li>
            </ul>
            &copy; All Rights Reserved, Rocket Elevators
          </div>
        </div>
      </footer>
      <!-- /FOOTER -->
    </div>

    <!-- /wrapper -->

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- PRELOADER -->
    <div id="preloader">
      <div class="inner">
        <span class="loader"></span>
      </div>
    </div>

