
    <div id="wrapper">
      

    <!-- PAGE HEADER 	-->
    <section
      class="parallax parallax-1"
      style="background-image:url(<%= asset_path 'repair'%>)"
    >
      <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

      <div class="container">
        <div class="text-center">
          <p style="font-size:6em; margin-bottom: 5px ">Message lost in cyberspace</p>
          
          <h1 class="fs-40 fw-300">
            Something went wrong with your message. Please try again.
          </h1>
          
          <a class="btn btn-default btn-lg" href="/#contact" style= "margin:5px">BACK TO CONTACT US </a>

          <a class="btn btn-default btn-lg" href="/quote"style= "margin:5px" >GET A QUOTE </a>
          
        </div>
      </div>
    </section>

   