
    <div id="wrapper">
      

      <!-- PAGE HEADER 	-->
      <section
        class="parallax parallax-1"
        style="background-image:url(<%= asset_path 'clear_elevator'%>)"
      >
        <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

        <div class="container">
          <div class="text-center">
            <p style="font-size:6em; margin-bottom: 5px ">Message sent</p>
            
            <h1 class="fs-40 fw-300">
              Your request has been received, one of our representatives will contact you promptly!
            </h1>
            
            <a class="btn btn-default btn-lg" href="/" style= "margin:5px">BACK HOME ? </a>

            <a class="btn btn-default btn-lg" href="/quote"style= "margin:5px" >GET A QUOTE </a>
            
          </div>
        </div>
      </section>

    

