<!-- wrapper -->
    <div id="wrapper">

      <!-- 
				PAGE HEADER 	-->
      <section
        class="page-header page-header-md parallax parallax-3" style="background-image:url(<%= asset_path 'clear_elevator'%>)"

      >
        <div class="overlay dark-5"></div>

        <div class="container">
          <h1><strong>RESIDENTIAL SERVICES</strong></h1>
        </div>
      </section>
      <!-- /PAGE HEADER -->

      <!-- Residential services -->
      
      <section class="b-0" style="background-color:#fbfbfb; padding-top: 60px">
        <div class="container">
            <div class="container">
                <h3>
                  Rocket Elevators will deliver the best residential elevators
                  experience for any building size, from your house to a residential
                  tower. We can do it all. Our elevators are fast and silent for a peacefull environement.
                </h3>
          <div class="row">
            <div class="col-md-4">
              <div class="heading-title heading-border-bottom heading-color">
                <h2>Style</h2>
              </div>

              <p>
                We can provide a vast product range that can satisfy every
                taste. From traditionnal to futuristic, we have it all.
              </p>
            </div>

            <div class="col-md-4">
              <div class="heading-title heading-border-bottom heading-color">
                <h2>Fiability</h2>
              </div>
              <p>
                Our elevators are the best rated for their fiability. Our
                previously installed elevators have an average uptime of 99.72%.
              </p>
            </div>

            <div class="col-md-4">
              <div class="heading-title heading-border-bottom heading-color">
                <h2>Maintenance</h2>
              </div>
              <p>
                We offer 24/7 emergency repair services. We also have a
                scheduled maintenance program.
              </p>
            </div>
          </div>
        </div>

        <!-- /Residential services -->

        <!-- 3 Buttons -->

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a class="btn btn-danger btn-lg" href="quote.html"
                >GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>

            <div class="col-md-4">
              <a class="btn btn-danger btn-lg" href="index.html#contact"
                >CONTACT US &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>

            <div class="col-md-4">
              <a class="btn btn-danger btn-lg" href="commercial.html"
                >COMMERICAL SERVICES &nbsp; <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      </section>
      <!-- /3 Buttons -->

    </div>

    <!-- /wrapper -->

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- PRELOADER -->
    <div id="preloader">
      <div class="inner">
        <span class="loader"></span>
      </div>
    </div>
    <!-- /PRELOADER -->
