<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div class="container">
    <!-- <img src="app/assets/images/logo_full.png" alt="RocketLogo"  style="padding-top: 10px;" width="200" height="80">-->
    <img src="https://champagnem.com/assets/images/logo_full.png" alt="RocketLogo"  style="padding-top: 10px;" width="200" height="80">
    <!--<%= image_tag "logo_full" %>-->
    <!--<%= image_tag "logo_full.png", alt:"logo_full", class:"img-fluid" %>-->
    </div>

    <h1>Greetings <%= @lead.full_name %>,</h1>
    <p>We thank you for contacting Rocket Elevators to discuss the opportunity to contribute to your project <%= @lead.project_name %>.
    A representative from our team will be in touch with you very soon. We look forward to demonstrate the value of our solutions and help you choose the appropriate product given your requirements.
    We’ll Talk soon
    The Rocket Team
    The email must also contain the logo and overall design of Rocket Elevators.
    </p>

<footer id="footer">
        <div class="container">
          <div class="row">
            <!-- col #1 -->
            <div class="col-md-8">
              <h3 class="letter-spacing-1"></h3>
              <p>
                <span class="block"><i ></i> Email:
                  <a href="mailto:info@codeboxx.biz">info@codeboxx.biz </a></span>
                  </p>
                  <p>
                <span class="block"><i ></i> Phone: (418) 580-7055</span>
              </p>
            </div>
            <!-- /col #1 -->
          </div>
        </div>

        <div class="copyright">
          <div class="container">
            &copy; All Rights Reserved, Rocket Elevators
          </div>
        </div>
  </footer>


  </body>
</html>